.add-option-error
  color: $off-white
  font-style: italic
  padding: 0 $m-size
  margin: $m-size 0 0

.add-option
  display: flex
  padding: $m-size

.add-option-input
    flex-grow: 1
    background: $off-dark-blue
    border: none
    border-bottom: .3rem solid darken($off-dark-blue, 10%)
    padding: $s-size
    margin: 0 0 $s-size
    color: $off-white

@media (max-width: $desktop-breakpoint)

  .add-option
    flex-direction: row

  .add-option-input
    margin: 0  $s-size 0 0
