.big_button
  background: $off-purple
  border: none
  border-bottom: .6rem solid darken($off-purple, 10%)
  color: white
  font:
    size: $l-size
    weight: bold
  width: 100%
  margin-bottom: $m-size
  padding: 2.4rem

  &:disabled
    opacity: .5


.button
  background: $off-purple
  border: none
  border-bottom: .3rem solid  darken($off-purple, 10%)
  color: white
  font-weight: 500
  padding: $s-size

.button--link
  background: none
  border: none
  color: $off-white
  padding: 0


@media (min-width: $desktop-breakpoint)
  .big_button
    margin-bottom: $xl-size
