.header
  background: $off-black
  margin-bottom: $m-size
  padding: $m-size 0
  color: white

  .header__title
    font-size: $l-size
    margin: 0

  .header__subtitle
    color: $off-white
    font:
      size:  $m-size
      weight: 500
    margin: 0


@media (min-width: $desktop-breakpoint)

  .header
    margin-bottom: $xl-size