.ReactModalPortal > div
  opacity: 0
.ReactModalPortal .ReactModal__Overlay
  transition: opacity 200ms ease-in-out
  display: flex
  justify-content: center
  align-items: center

.ReactModalPortal  .ReactModal__Overlay--after-open
  opacity: 1

.ReactModalPortal  .ReactModal__Overlay--before-close
  opacity: 0


.modal
  background: $off-ligt-blue
  color: white
  max-width: 30rem
  outline: none
  padding: $l-size
  text-align: center

.modal__title
  margin: 0 0 $l-size

.modal__body
  margin: 0 0 $l-size
  font:
    size: 2rem
    weight: 300
  word-break: break-all




