.widget
  background: $off-ligt-blue
  margin-bottom: $xl-size

.widget__message
  color: $off-white
  margin: 0
  padding: $l-size
  text-align: center
  border-bottom: 1px solid lighten($off-ligt-blue, 10%)

.widget-header
  background: $off-blue
  color: $off-white
  padding: $m-size
  display: flex
  justify-content: space-between

.widget-header__title
  margin: 0